<h1>Friends List</h1>


<ul>
    <% @user.friendships.each do |friendship| %>
    <li>
    <%= friendship.friend.first_name %>
    (<%= link_to "Remove Friendship", friendship, :method => :delete %>)
  </li>
  <% end %>
</ul>


<%= link_to "Find Friends", users_path %>
<%= link_to "Add item to list", new_gift_path %>
