<h1>Friends List</h1>


<ul>
    <% @user.friends.each do |friend| %>
    <li>
    <%= link_to friend.first_name, "/wishlist/#{friend.id}" %>
    (<%= link_to "Remove Friendship", "contact_delete/#{friend.id}"%>)
  </li>
  <% end %>
</ul>


<%= link_to "Find Friends", users_path %>
<%= link_to "Add item to list", new_gift_path %>
