<h1>People on Wrap it!</h1>
<% for user in @users %>
  <% unless user == current_user %>
  <p>
    <strong><%=user.first_name %></strong>
    <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post%>
  </p>
<% end %>
<% end %>
