<div class="header">
  <h1 class="top_bar">Not sure what gift to get?</br>
    Wrap-It does!</h1>

  </div>

  <h1 class="sign_up_title">Sign-Up</h1>
  <div class="sign_up_info">

    <!-- <h1 class="sign_in">Signup!</h1> -->

    <%= render 'form', user: @user %>
  </div>
  <h2 class="pic">Profile Pic</h2>

  <footer>
    <div class="footer_message">
      Sign Up and that's a Wrap!
    </div>
  </footer>
