<div class="header">
<h1>Not sure what gift to get? Wrap-It does!</h1>

</div>

<div class="sign_up_info">

Signup!
<!-- <h1 class="sign_in">Signup!</h1> -->

<%= render 'form', user: @user %>
</div>


<footer>
  <div class="footer_message">
    Sign Up and that's a Wrap!
  </div>
</footer>
