<div class="header">


</div>
<div class="sign_in_info">

<h1 class="sign_in">Signup!</h1>

<%= render 'form', user: @user %>
</div>


<footer>
  <div class="footer_message">
    Sign Up and that's a Wrap!
  </div>
</footer>
