<div class="new-gift-title">
<h1 class="new-gift-title">Add An Item to Your List!</h1>
</div>

<%= render 'form', gift: @gift %>




<%#= link_to "Back to Wrap-It! List", "/users/#{@gift.user.id}/gifts" %>
