<h1>Wrap-it! Results!</h1>


<p>
<%item = @response["ItemSearchResponse"]["Items"]["Item"]%>
<% item.each do |result| %>
<%= link_to result["ItemAttributes"]["Title"], result["DetailPageURL"] %>
<img src="<%=result["SmallImage"]["URL"]%>"/></br>
<% end %>
</p>
