body {
  background-size: cover;
  background-image: url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/9KVBN7OPW3.jpg");
}
.profile {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.about {
  height:inherit;
  display:inline-flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.about-container {
width: 100%;
flex-direction: row;
font-weight: bold;
text-align: center;
align-items: center;
justify-content: center;
font-family: 'Open Sans', sans-serif;
}
.info  .info{
  text-align: center;
  display: block;
}
