
#gift-index-header {
	min-height: 20vh;
	min-width: 100%;
}
header {
	background-color: rgb(106, 216, 65);
}

 .Fashion{
	background-image: url("fashion_logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(64, 203, 242);
	border: 3px solid rgb(64, 203, 242);
}

 .Electronics {
	background-image: url("Electronic_logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(255, 143, 8);
	border: 3px solid rgb(255, 143, 8);
}

 .Toys {
	background-image: url("toys_logo.png");
	background-repeat: no-repeat;
	background-position: center;
	background-color: rgb(88, 123, 187);
	border: 3px solid rgb(88, 123, 187);
}

/*HEADER*/
/*HEADER*/
/*HEADER*/
/*HEADER*/
#gifts-index-center {
	/*height: 50vh;*/
    border: 1px solid green;
    display: flex;
    flex-direction: column;
}
.gifts-loop-outer {

	display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    border: 1px solid grey;
    background-color: rgb(255, 255, 255);
}
  .gifts-loop-item {
 	min-height: 10vh;
	display:flex;
	align-items: center;
	align-content: center;
 }

 .gifts-loop-item a {
	 text-decoration: none;
	 color: grey;
	 font-size: 3em;
 }
