#new_session {
  text-align: left;;
  padding-top: 200px;
  margin-top:15%;
  margin-left: 10%;
  margin-bottom: -13%;
  font-size: 6em;
  color:#29ccc0;
  text-shadow: 4px 4px #666;
}


.login_form{
  margin: auto;
  padding-top: 10em;
  padding-left: 10px;
  padding-bottom: 10px;

}

.login_form .field label {
  color: white;
}
.login_form .field {
  margin-bottom: 20px;
}

.login_form input {
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 40px;
  margin-left:40px;
  font-size: 4em;
}
.login_form input:focus {
  outline: none;
}
