
.sign_up_form {

  margin: auto;
  padding-left: 10px;
  padding-bottom: 10px;

}



.sign_up_form .field input{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 80px;
  margin-left:40px;
  font-size: .8em;
}

.sign_up_form input:focus {
  outline: none;
}

.sign_up_info{
  margin-left: 10%;
}
.upload {
  background-color: #29ccc0;
  color:white;
  text-shadow: 4px 4px #666;
}


.photo .profile_pic {
  background-color: #29ccc0;
  color:white;
  text-shadow: 4px 4px #666;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 80px;
  margin-left: 30px;
  width: 420px;
  height: 100px;
}
.sign_up_title, .edit_profile_title {
  text-align: left;;
  padding-top: 200px;
  margin-top:15%;
  margin-left: 10%;
  margin-bottom: -13%;
  font-size: 6em;
  color:#29ccc0;
  text-shadow: 4px 4px #666;
}
.top_bar {
  text-align: center;
  font-size: 5em;
  color:white;
  margin-top:1.2em;
  text-shadow: 4px 4px #666;
}
.pic {
  color:white;
  font-size: 3em;
  margin-top: -22%;
  margin-left: 6%;
  text-shadow: 4px 4px #666;
}

.all_users {
  width:92%;
  float:left;
  margin-top: 30%;
}

.empty {
  height: 20em;
}
.Letter, .cont_names{
  color:grey;
}

.Letter ul{
  list-style: none;
}

.all_users li{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: inline-block;
  width:95%;
}
.contact_elements {
  display: flex;
  flex-direction: row;
}

.cont_pic {
  float: left;

}
.contact_name {
  display: flex;
  margin-top: 75px;
  margin-left:65px;
  float: right;
  font-size: 3em;
  color: grey;

}
.contact_name a {
  text-decoration: none;
  color:grey;
}

.upcase {
  margin-left: 5%;
}

.user_pic {
  margin-top: 1em;
  border-radius: 90px;
  border: 5px solid #29ccc0;
}
.current_user_pic {
  margin: 3em 1em 0em 2em;
  border-radius: 115px;
  margin-top: 10%;
  float: left;
  border: 5px solid white;
}

.users_index_title {
  text-align: center;
  font-size: 5em;
  color: grey;
  margin-top: 8%;
  margin-left: 15%;
}

.current_user_name {
  color:white;
  font-size: 6em;
  margin-right: 7%;
  margin-top: 10%;

}

#back-to-profile {
  text-shadow: 4px 4px #666;
  text-decoration: none;
  color: white;

}

.users_header {
  width: 100%;
}
#alphabet {
  font-size: 22px;
  margin-top: 32.5%;
  margin-left: 890px;
  position: fixed;;
  font-weight: bold;
  color:grey;
  height: 1250px;
  width:100px;
  background-color: white;
  z-index: -1;

}
#alphabet ul {
  margin-top: 60px;
  list-style: none;
}
#alphabet ul li {
  padding-bottom: 15px;
  padding-right:40px;
}

.all_users {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.add-friend {
  height: 30px;
  width: 150px;
  margin-left: 40px;
  font-size: 1.5em;
  background-color:#29ccc0;
  color:white;
  text-shadow: 2px 2px #666;


}
.friend_button {
  display: flex;
  margin-top: 90px;
}

.add-friend a{
  color:white;
}
.footer_button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image a{
  color: white;
  font-size: 5em;
  text-decoration: none;
  text-shadow: 4px 4px #666;
}
.text a{
  color: white;
  font-size: 3em;
  text-decoration: none;
  text-shadow: 4px 4px #666;
}

.edit_info {
  margin: auto;
  margin-top: 10%;
  padding-left: 10px;
  padding-bottom: 5px;
}

.edit_info .field input{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 70px;
  margin-left:40px;
  font-size: 3em;
}

.edit_info input:focus {
  outline: none;
}
.footer_message a{
  color:white;
  text-decoration: none;
}

.container {
  margin: auto;
  margin-top: -10%;
  margin-left: 5%;
  height: 830px;
  width: 870px;
  /*background-color: blue;*/
  display: flex;
  flex-direction: column;
  justify-content: space around;
}

.row_top {
  display: flex;
  flex-direction: row;
  justify-content: space around;
}
.row_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space around;
}
.electronics_cont {
  margin-top: 34%;
  margin-left: 26%;
  height:306px;
  width:354px;
  background-image: url("https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=15678ad38d1c0315&attid=0.4&disp=safe&realattid=f_irq1u4c73&zw&saddbat=ANGjdJ8eiKdbBxwNf5wbe9XBztIITJBt0A41PpnNTLzg76MXVhdFyBMEuuUTEC913YxEmu5xKF6UfvNpJdBEEMQjKOy4Z-FYliZmm6Sm8spMgjsBVOOmLbXw_tps5dBVgKCHNZWoQ02I_ZbFF_JfPEAcRjRmH0OPHPj1n3YJVXNehmevGRaOL1_zgBmAINoncs2QzkvNWBGjkmanhl3bGjBZEAn4JESntAyO93KcyJlkv3LHOh-UgyGtndr9R_8vwM6S5uhw7FC7UngrYFgA4KzrB44coRamcUrEVloFy098RXNpCIyHg_Zga9JGEa17I-EvSykKUlnqQ4syVqv2kaUF29NQWgeu6Du5gKHyJLgr6-CEkRjSVPf0cLFsZwmCyjSikztO3PTG38inci5x4G8PVyTig3VFMfXdw_rWUxHH-achjEIA0QYbGlBiW3x-Hpn7ujvJ1HfDmrVw1WlA0S21eboK12LQQfzTMyeXgGvB_cDKieBy_NVQgsaxfqIkbRPa3BbMpFxdNO-8HvfmFr4QsyKQF69xu5ThW82YaYKmbDFfnIQWymhp5kCQsl-HHgN8eeewrez2B6H4pIu4s9jxAcYNIyZD650ri0k67tnBtHmSP3wsiyE_rPzA3nTTRV-m2GxhFSxwleUBCpMa" );
  background-size: cover;
}
.fashion_cont {
  margin-top: 34%;
  margin-left: 28%;
  height:306px;
  width:354px;
  background-image: url("https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=15678ad38d1c0315&attid=0.6&disp=safe&realattid=f_irq1u4cj5&zw&saddbat=ANGjdJ_WzA1vebi1oHaeMyVMO4O3mNT-CYg2TZUaon8j7V1wXle_9uXi7SfCZrg2JkiZJlfIyXLyxYaguJ3lYPQ0Wx7z7bOrCR5RhQXDtraDxzxFD-CsXppWeDqIjAe9bYnWIBHDIW1VtW_MpLvC4RywUWKya1OOx4b-XPVJtyhQylddFimCRwP-XzOyPvLcYU57r3P6bRoLgueqcIdfZGtO9NKi5u4p_Bne5n0YEkTqU1dxt7-dQusvc72mi7sxJkOoDCZSdpVizU29JORxdjsATI1SyXXh-lsvmRQDW3Fa7Gi0svBsShzydwszypVflahttMoDHCy3De_HolPAV-zHRxbHUhF1-KhPAj1Wuavox9k3t9dZ8yQ7Uwdck24xxrCkq9MgpUDHlVsyuaJRkwmF-baL3OF_kmbsLqxzKRKKhoXqyX3Lw677OQ-cU62EEsCCnQbdF5N-QBONddysxVx5lJbr3GINChMIuMoy4navMlZh7LCGKxSuKdM8AtF1hApOTFRnRUY-FNIsCHulMk64PfqMzDVokaZB2vToYN-7fnWuMeL3_ALJzU2wZOwfhOFeqxXgC7gvFgR07hbE2FZsGEi4Ue0ZDUP7qaP_fxJ3AVkRkNonBcwH_yPPChLxKn6G7b6VS_3ZiQvLLWbk" );
  background-size: cover;

}
.toys_cont {
  margin-top: 2%;
  margin-left: 28%;
  height:306px;
  width:354px;
  background-image: url("https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=15678ad38d1c0315&attid=0.16&disp=safe&realattid=f_irq1u4ek15&zw&saddbat=ANGjdJ8eVD1USFWpPlWp3SSE3xKbEDNbU2qtZkbH3R0Kh9G0UVo6k5ldH4ll3yUNFYkCv3es00QXrOlW56R9zUz-OWiGFB2swmXxhg_jWk2oFza00-fST_KOE9gNNRcxuzW94sCj_D_aDWRfoiLKzi7aGbjEaVo1KjStxU6YUMhLFEiaTa4zBys4ttPWp5T2eVbimVWiZGkRXqn-AFZ53TKAc0oeTXMj0fzo8oopGPhQJ1JP_ujkdaOmXgDpEx48AueiNgVM83rSKqulDSWYink7LTATMRy6PJQWRgQTl-kbL53MnzELgtSnsiQKgJlEWMVqdUeJy3MweJicKPUO86NCJ4Zz6fZeLRd-T7yGu70J7ECmvpFtxti_cKm-dUvYOJwEZQCKYmVLcNBjd5evOuOw7YwZEO4RuCR1l9DDiFOg7NHx7MNZ23D3MhN31_BQv8yIEu0vr3Gm-XpZ4JT_nE6XquCmeYGhRkwjWJ2H3m5l8-4_8GZrABPudUC2Id3LsmDPo08XfxPrMZOJcKM-xf-YoBli4cFvK2zlRWI7a5XoYaVALOREdkh9WxyAqpYndbU0fIYzCiGcy-2Q0Vg808fk9jpEC_D75b7e9sdFXLscn28eT0szat_KwCfrQkSC-ztXRXl2MGvaqcnc7TiQ" );
  background-size: cover;

}
.personal_cont {
  margin-left: 26%;
  margin-top: 2%;
  height:306px;
  width:354px;
  background-image: url("https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=15682ae3f9c7be23&attid=0.1&disp=safe&realattid=f_irstue5t0&zw&saddbat=ANGjdJ-DiATCBP6UdbSUnjkfJ2jY4pGbQg092ubNbNX-fu1Yfnz9mju4ZgWX3BDMpugH9tsplgk8L_vt-YDHt9UnxgJ2ScDJ7ujBgmJ8YohdDxBpZ7KOo27QZ-jZ_KOY384ctXH8g4-J5wzCjlJaQ-UzFNa5vgPET6o9e5sAeeJsjVNfGXgYIIgaby8nwlG5Vf4pg-YXaZCplvyfckd5U5arK_6VfNvM2MViyR8QRhLolH7UhgaLvARLWC41MWqAPA2dA19niZB7d1lwW1F2LZSJVpVm_qDh6IMRAUjpDZ0jKj34O5_wdPSWxp1XpWxSRMV7c5vn3Hp0vAguiJ7IKrAOH3_3D8CHKNVbnIp7alHGPhiCcnONWzrBd0szgWHXJTjzbqInCue9KQfOjHvmKIA7uFHlSKxqoQlkrE9qRXfZ4-iLUL9XHmQgDw9nfo3Fi-hqE8X_Dt_l0iL8MF8RCJdQWMIhLIkQM90QaH36_5m6PbNwQteXkpP9hqmWIOeP_RVul2WhNANBOaZo0FAKi_N4nh5BWONt5fsRYkYtjE6Wfs4DckSawwVNEb4jgqlbZVOP-kQdwAqcdIlPsUvoFDX8TiNsv8dybA9tQIYPtilq_gwsBPJg0AkdwkeXqiCA8HPx6afOeUuR7KbfKVFE");
  background-size: cover;
}

.all_button {
  position: absolute;
  z-index: 99;
  margin-top: 20.5%;
  margin-left: 37.5%;
}
.all_button {

}

.wrap_it {
  margin-top: 50%;
  color:#29ccc0;
  text-shadow: 4px 4px #666;
  text-align: center;
  font-size: 900%;
  opacity:.4;
  font-family: 'Work Sans', sans-serif;
}

.profile_title {
  font-size: 700%;
  margin-top:-8%;
  margin-right: 8%;
  float: right;
  color:white;
  text-shadow: 4px 4px #666;

}
.log_out_button {
  color: white;
  text-shadow: 4px 4px #666;
  float:right;
  font-size: 40px;
  margin-right: 10%;
  margin-top:2%;
}
