
.sign_up_form {

  margin: auto;
  padding-left: 10px;
  padding-bottom: 10px;

}



.sign_up_form .field input{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 80px;
  margin-left:40px;
  font-size: .8em;
}

.sign_up_form input:focus {
  outline: none;
}

.sign_up_info{
  margin-left: 10%;
}
.upload {
  background-color: #29ccc0;
  color:white;
  text-shadow: 4px 4px #666;
}


.photo .profile_pic {
  background-color: #29ccc0;
  color:white;
  text-shadow: 4px 4px #666;
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 80px;
  margin-left: 30px;
  width: 420px;
  height: 100px;
}
.sign_up_title, .edit_profile_title {
  text-align: left;;
  padding-top: 200px;
  margin-top:15%;
  margin-left: 10%;
  margin-bottom: -13%;
  font-size: 6em;
  color:#29ccc0;
  text-shadow: 4px 4px #666;
}
.top_bar {
  text-align: center;
  font-size: 5em;
  color:white;
  margin-top:1.2em;
  text-shadow: 4px 4px #666;
}
.pic {
  color:white;
  font-size: 3em;
  margin-top: -22%;
  margin-left: 6%;
  text-shadow: 4px 4px #666;
}

.all_users {
  width:92%;
  float:left;
  margin-top: 30%;
}

.empty {
  min-height: 300px;
}
.Letter, .cont_names{
  color:grey;
}

.Letter ul{
  list-style: none;
}

.all_users li{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: inline-block;
  width:95%;
}
.contact_elements {
  display: flex;
}

.cont_pic {
  float: left;

}
.contact_name {
  display: flex;
  margin-top: 75px;
  margin-left:65px;
  float: right;
  font-size: 3em;
  color: grey;

}
.contact_name a {
  text-decoration: none;
  color:grey;
}

.upcase {
  margin-left: 5%;
}

.user_pic {
  margin-top: 1em;
  border-radius: 90px;
  border: 5px solid #29ccc0;
}
.current_user_pic {
  margin: 3em 1em 0em 2em;
  border-radius: 120px;
  margin-top: 10%;
  float: left;
  border: 5px solid white;
}

.users_index_title {
  text-align: center;
  font-size: 5em;
  color: grey;
  margin-top: 8%;
  margin-left: 15%;
}

.current_user_name {
  color:white;
  font-size: 8vw;
  margin-right: 7%;
  margin-top: 10%;

}

#back-to-profile {
  text-shadow: 4px 4px #666;
  text-decoration: none;
  color: white;

}

.users_header {
  width: 100%;
}
#alphabet {
  font-size: 22px;
  margin-top: 32.5%;
  margin-left: 890px;
  position: fixed;;
  font-weight: bold;
  color:grey;
  height: 1250px;
  width:100px;
  background-color: white;
  z-index: -1;

}
#alphabet ul {
  margin-top: 60px;
  list-style: none;
}
#alphabet ul li {
  padding-bottom: 15px;
  padding-right:40px;
}

.all_users {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height:1280px;
}

.add-friend {
  height: 30px;
  width: 150px;
  margin-left: 40px;
  font-size: 1.5em;
  background-color:#29ccc0;
  color:white;
  text-shadow: 2px 2px #666;
}
.friend_button {
  display: flex;
  margin-top: 90px;
}

.add-friend a{
  color:white;
  text-decoration: none;
}
.footer_button {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.image a{
  color: white;
  font-size: 5em;
  text-decoration: none;
  text-shadow: 4px 4px #666;
}
.text a{
  color: white;
  font-size: 3em;
  text-decoration: none;
  text-shadow: 4px 4px #666;
}

.edit_info {
  margin: auto;
  margin-top: 10%;
  padding-left: 10px;
  padding-bottom: 5px;
}

.edit_info .field input{
  border-style: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 70px;
  margin-left:40px;
  font-size: 3em;
}

.edit_info input:focus {
  outline: none;
}
.footer_message a{
  color:white;
  text-decoration: none;
}

.container {
  margin: auto;
  margin-top: -10%;
  margin-left: 5%;
  height: 830px;
  width: 870px;
  display: flex;
  flex-direction: column;
  justify-content: space around;
}

.row_top {
  display: flex;
  flex-direction: row;
  justify-content: space around;
}
.row_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space around;
}
.electronics_cont {
  margin-top: 34%;
  margin-left: 26%;
  height:306px;
  width:354px;
  background-image: url(image_path("electronics_button.png"));
  background-size: cover;
}
.fashion_cont {
  margin-top: 34%;
  margin-left: 28%;
  height:306px;
  width:354px;
  background-image: url(image_path("fashio_button.png" ));
  background-size: cover;

}
.toys_cont {
  margin-top: 2%;
  margin-left: 28%;
  height:306px;
  width:354px;
  background-image: url(image_path("toys_button.png"));
  background-size: cover;

}
.personal_cont {
  margin-left: 26%;
  margin-top: 2%;
  height:306px;
  width:354px;
  background-image: url(image_path("personal_button.png"));
  background-size: cover;
}

.all_button {
  position: absolute;
  z-index: 99;
  margin-top: 20.5%;
  margin-left: 37.5%;
}
.all_button {

}

.wrap_it {
  margin-top: 50%;
  color:#29ccc0;
  text-shadow: 4px 4px #666;
  text-align: center;
  font-size: 900%;
  opacity:.4;
  font-family: 'Work Sans', sans-serif;
}

.profile_title {
  font-size: 700%;
  margin-top:-7%;
  margin-right: 8%;
  float: right;
  color:white;
  text-shadow: 4px 4px #666;

}
.log_out_button {
  color: white;
  text-shadow: 4px 4px #666;
  float:right;
  font-size: 40px;
  margin-right: 10%;
  margin-top:2%;
}
