*{

  /*font-family: 'Fjalla One', sans-serif;*/

font-family: 'Work Sans', sans-serif;
font-weight: bold;

}


.header{
  background-color: #55d6cd;
  max-height:20%;
  border-bottom: 5px solid white;
  width: 100%;
  position: fixed;
  top:0;
  background-image: url("https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=1567cbda3612af8a&attid=0.1&disp=safe&realattid=f_irr6imru0&zw&saddbat=ANGjdJ8sIbs49TFlcPJGgpo-GsbgAL8zng4WZpN5Uq6HNI09kj1vr4UKG4VlZ-dyX8BftidTOrzNJBX3DBEgnM0GtiqA4GnhmGB-xKFz0enkexoRrCbY80pxRkNIFH9bH3e-D8aikmp2nT9gsCw6xTKyXVqp9LaP6QUH01u9ZRsSZ_3tjdIzUx1pw1uVHeuEHWdfZhhQVUM4a4Er2VoSBeqNFD6ekKZ_XYVERRFYSmWX5FiZ7nCfEJlpR3O7HOprSZ-JYkEbc6T5mBwllpb3TyWrxoZDXYqsblJdp_j0PPKLCNGGCjXpZdKjC9odlDYiQhPt7AbGczRlibdVO0hucgU7964Sn0XaBFdDAkZU9niHxPb66BWNCEOyn2iu9OoRPyXkyqIlS2ZE6bz83-zWMcB4DUW9mFzA-Q78NrQtt2tfWqpQfqooU6odE9O0Y9G-_sGmFljophtJW8CONFIo_Gey0JArc3PGFL2D4gLvmPCE4D7FRdQu-4UVRMBxnckk_vdg9Y8lePerdkHz9KSuyIcw76ED6YYJcPbvYsqE8dGX4BQDxX5WadOEiX-SgqKFlR_GwPANgOIQU7v3GuKYoeUxDhQj7ygpLEbuP40apUZd7o15n7V4VShcna5T-9LAU2R-dL9w_orvSrRX0uTR");
  background-size: cover;

}

#greeting {
  text-align: center;
  font-size: 4em;
  padding-top: 1em;
}
#greeting,.footer_message,.title {
  text-shadow: 4px 4px #666;
  color:white;

}

.new_user, .return_user, .or {

  font-size: 3.5em;
  margin-left: -13%;
  margin-right: 2%;
  padding-top: 1.5em;
  color: #55d6cd;
  text-shadow: 2px 2px #666;
  font-weight: bolder;

}

.enter button{
  background-color:#55d6cd;
  height:75px;
  width: 220px;
  font-size: .8em;
  color:white;
  text-shadow: 4px 4px #666;
}

.sign_up_button{
  margin-right: 15%;
  margin-left: -5%;
}
.log_in_button{
  margin-left: 12%;
}
.enter {
  margin-left: 33%;
  margin-top: 9em;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  height:12%;
  background-color: #55d6cd;
  border-top: 5px solid white;
  width:100%;
  z-index: 99;
}
.footer_message {
  text-align: center;
  font-size: 3.8em;

}
.present {
  margin-top: 30em;
  margin-left: 5.5em;
  -webkit-filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12, Color='#44;4')";
  z-index: 2;
}
.title {
  text-align: center;
  font-size: 12em;
  margin-top: .2em;
  color: #55d6cd;
}
