<!DOCTYPE html>
<html>
  <head>
    <title>WrapItApp</title>
    <%= csrf_meta_tags %>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Fauna+One|Fjalla+One|Fredericka+the+Great|Galada|Istok+Web|Khand|Oswald|Pacifico|Pattaya|Racing+Sans+One|Special+Elite|Vast+Shadow" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100|Work+Sans:200" rel="stylesheet">
      <script src="https://use.fontawesome.com/24e1925672.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <img  class="bg" src="romanticvintagewedding0242.jpg" />

    <%= yield %>




  </body>
</html>
