<!DOCTYPE html>
<html>
  <head>
    <title>WrapItApp</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Fauna+One|Fjalla+One|Fredericka+the+Great|Galada|Istok+Web|Khand|Oswald|Pacifico|Pattaya|Racing+Sans+One|Special+Elite|Vast+Shadow" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <img  class="bg" src="https://mail-attachment.googleusercontent.com/attachment/u/0/?ui=2&ik=13177545a0&view=att&th=156784816469bb93&attid=0.1&disp=safe&realattid=f_irpxyitq0&zw&saddbat=ANGjdJ__MJgw4MXoTV8AI0QJbQnwsbNPB39jx6DjNrGxzEHNP3hvHGw8sYo5hCBmb5TX9nsnBFGy6QDlfUCXFbglB2IWTVxA0xwZt2Ht7HmjLMpA_Iji-w2R8zw1asbyDdrk4qnEg7avUcglE1syGYGXMChUf6JXyUdoNitQ73a8LRx5SIe8Lc0oDZgyuBZYpDN3Tg0YzUwFhOycm323Xc62z_8WK7J36p5D0lZWiBIPi_h3CE5-EmtGDnlrCkgdzY6uWLSYfKad8e_0C5XTA4H277iL-upeCKjx2kUima1_Frx8TRtIJ6rsDKlKNqlbbzFkJVUjtEkRdidBr_eO5lFxjppg8x2tKCRGgrmBWz2kGUWbbcXtYEpSoYTFUsAJiG2W8ht89--EHfKSWdNk5F76xi2PCWCaJfNIHDSkjF9lKSbokSmAtSR5A_pypLcNMXB4jL-aVgZNQuzmmBzhvtawysbPI2SG5cBFCMs1E5jBHXyh9xEb0RQ5phOAVHSmZ9IFBw_sKiWqNNq2Rm4Knio7W2RLfPV_P96GoBsB_zQLhWM9k-ahFfgIbRG8zNIpxlDKAqAKibJrEgStbMu4b8AA3Oqd6h7JQXiFsjND6aPsFdrW2fRrVQiwe2LqOYWjMOHPKJWX0CbJJ_IsDqKP" />

    <%= yield %>



 
  </body>
</html>
