<!DOCTYPE html>
<html>
  <head>
    <title>WrapItApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<<<<<<< HEAD
    <%= yield %>
=======
  <!-- <%# if Rails.env.development? %>
    <%#= console %>
  <%#end%> -->
>>>>>>> 364a1ac17643f583a3f15727c92d991ab48aca91
  </body>
</html>
